/* _content/PlantManagement/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body[b-z4vcll1ubv] {
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.navbar[b-z4vcll1ubv] {
  background-color: #ffffff;
  /* trắng tinh */
  border-bottom: 1px solid #e0e0e0;
}

.navbar-brand[b-z4vcll1ubv] {
  color: #4CAF50 !important;
  /* xanh lá nhấn */
  font-weight: 600;
}

.navbar-brand:hover[b-z4vcll1ubv] {
  color: #388E3C !important;
  /* xanh lá đậm hơn khi hover */
}

.navbar-nav .nav-link[b-z4vcll1ubv] {
  color: #555 !important;
  /* xám nhẹ */
  font-weight: 500;
}

.navbar-nav .nav-link:hover[b-z4vcll1ubv] {
  color: #4CAF50 !important;
}

/* Footer */
footer.footer[b-z4vcll1ubv] {
  background-color: #ffffff;
  color: #555;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer.footer a[b-z4vcll1ubv] {
  color: #4CAF50;
  text-decoration: none;
}

footer.footer a:hover[b-z4vcll1ubv] {
  text-decoration: underline;
}



/* Nút Logout */
.btn-link[b-z4vcll1ubv] {
  color: #4CAF50 !important;
  text-decoration: none;
  font-weight: 500;
}

.btn-link:hover[b-z4vcll1ubv] {
  text-decoration: underline;
}

header[b-z4vcll1ubv] {
  position: sticky;
  top: 0;
  z-index: 100;
}
